<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}

</style>
</head>
<body>

<h1>Cambio Climatico</h1>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a class = "btn btn-primary" routerLink="/relazione" routerLinkActive="active">Relazione</a>
  </li>
  <li class="nav-item">
    <a class= "btn btn-primary" routerLink="/chart" routerLinkActive="active">Grafici</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<router-outlet></router-outlet>
</body>
</html>
